<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <% if options[:inc_assets] %>
    <script src="assets/jquery.js"></script>
  <% else %>
    <script src="../../public/javascripts/jquery.js"></script>
  <% end %>
  <link rel="stylesheet" href="assets/testsuite.css" type="text/css" media="screen" />

  <script src="../../public/javascripts/<%= name %>.js" type="text/javascript"></script>
 
  <script>
  $(document).ready(function(){
    
module("Module A");

test("Successful test", function() {
  expect(1);
  ok( true, "success" );
});

  });
  </script>
  
</head>
<body>
  
<script type="text/javascript" src="assets/testrunner.js"></script>
 <h1><%= name %>.js Unit Test</h1>
 <h2 id="banner"></h2>
 <h2 id="userAgent"></h2>

 <ol id="tests"></ol>

 <div id="main"></div>

 <!-- Place HTML needed for tests here -->

</body>
</html>

